/* -------------------------------------------------------------------------- */
/*                          Dropdown item custom properties           */
/* -------------------------------------------------------------------------- */

:host {
  --bq-dropdown-item--height: 40px;

  --bq-dropdown-item-label--m-width: 20vw;
  --bq-dropdown-item-label--paddingX: 12px;
}
